.allitem1{
    border:solid rgb(46, 29, 29) 0.5px; 
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.6rem;
    padding:1.5rem;
    background-color: aqua;
   
}
.price-item{
    display: flex;
    flex-direction: column;
    gap:1.4rem;
}
.desc1{
    color:blue;
    font-size:1.4rem;;
}
.desc2{
    font-size:1rem;
}

.price{
    display: flex;
    justify-content: space-between;
   
}
.price-icon{
    color:green;
    font-size: 2rem;;
}

.icon{
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 7, 7);
    border-radius: 5px;;
    font-size: 1.8rem;;
}

.ajit{
    border-radius: 12px;
    border:solid rgb(37, 0, 54) 2px;
    display: flex;
    gap:1rem;
    background-color: azure;
    
}

.ors{
    font-size: 1.4rem;
    color:green;
    text-decoration:underline;
}

.ors-answer{
    color:blue;
}